* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-visual {
  width: 960px;
  margin: 50px auto;
}
.main-visual-content:nth-child(odd) {
  list-style: none;
  padding: 20px;
  background-color: #eee;
}
.main-visual-content:nth-child(even) {
  list-style: none;
  padding: 20px;
}
main {
  width: 960px;
  height: 720px;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: #ffd700;
}
.box:nth-child(3n) {
  margin-right: 0;
}
.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: #ff8c00;
}
